<div class="container mt-4">
  <div class="row">
      <div class="col-12">
        <nav class="breadcrumb"
             aria-label="breadcrumb">
          <a class="breadcrumb-item link-text"
             [routerLink]="['/users']">All Users</a>
          <a class="breadcrumb-item link-text">{{ userID }}</a>
        </nav>
      </div>
    </div>

    
    
    <div class="mt-3">
      <ngb-tabset>
        
        <ngb-tab>
          <ng-template ngbTabTitle>
            <fa-icon [icon]="faImage"></fa-icon> User Assignment
          </ng-template>
          <ng-template ngbTabContent>
        <app-assigned-groups-table 
        [userAssignedGroups]="assignedIDs" 
        (refreshIDs)="getData()"></app-assigned-groups-table>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <fa-icon [icon]="faImage"></fa-icon> Address Assignment
      </ng-template>
      <ng-template ngbTabContent>
          <app-user-table-showgroups ></app-user-table-showgroups>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
   
</div>
